@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../assets/font/GTWalsheimPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../assets/font/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
  }