  .dark-mode {
    --background-color: #181818;
    --text-color: #e0e0e0;
    --header-bg-color: #202020;
    --content-bg-color :#323232;
    --icon-color: #e0e0e0;
    --icon-hover-color: #ffffff;
    --sidebar-bg-color: #242424;
    --tab-bg-color: #2c2c2c;
    --tab-hover-bg-color: #3c3c3c;
    --content-bg-color: #1e1e1e;
    --history-color: #66bb6a;
    --profile-color: #42a5f5;
    --settings-color: #ffa726;
    --input-bg-color : #383838;
    --icon-bg-color: #383838;
    --icon-bg-hover-color : #515151 ;
    --message-bg-color : #383838;

    background-color: var(--bg-color) !important;
    color: var(--text-color);
  }


