  
  html , body , main, .chatbot {

    --background-color: #ffffff;
    --text-color: #333333;
    --header-bg-color: #f7f7f7;
    --content-bg-color :#ffffff;
    --icon-hover-color: #555555;
    --sidebar-bg-color: #f0f0f0;
    --tab-bg-color: #e7e7e7;
    --tab-hover-bg-color: #dcdcdc;
    --content-bg-color: #ffffff;
    --history-color: #4caf50;
    --profile-color: #2196f3;
    --settings-color: #ff9800;
    --border-color : #9e9e9e;
    --input-bg-color : #ffffff;
    --icon-bg-color: #ffffff;
    --icon-bg-hover-color : #d0d0d0 ;
    --message-bg-color : #f0f0f0;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
  }
  